PORT=5000

MONGODB_URI=MONGODB_URI=mongodb+srv://chess_backend:Chess%402026Backend123@cluster0.wjwagrh.mongodb.net/chessacademy?retryWrites=true&w=majority&appName=Cluster0

SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

SMTP_USER=suhaniyadav1402@gmail.com

SMTP_PASS=vzlx lign qlbb yctj

ACADEMY_EMAIL=Sadasivam.maker@gmail.com,moderntechnologies12@gmail.com

NODE_ENV=development

ALLOWED_ORIGINS=http://localhost:3000